* {
    margin: 0;
    padding: 0;

}
body {
    background-color: #ffffff;
    text-align:  center;
}

#app{
    text-align: center;
}

#map {
    
    height: 400px;
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
}

#location {
    margin-top: 20px;
    font-size: 18px;
}

.login-container {
    background-color: #2E294E;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 60vmin;
    height: 60vmin;
    text-align: center;
    /* align-items: center;
    justify-content: center; */
}

h2 {
    margin-bottom: 20px;
}

.input-container {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.error-message {
    color: red;
    margin-top: 10px;
}
